.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Andante', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #282828;
  background: #fff;
  min-width: 320px;
}
input,
button {
  outline: none;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
img {
  max-width: 100%;
}
[class^="pure-"],
[class*=" pure-"] {
  font-family: 'Andante', sans-serif !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1214px;
  padding-left: 63px;
  padding-right: 63px;
}
@media (max-width: 768px) {
  .main-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@font-face {
  font-family: 'Andante';
  src: url('../fonts/Andante.eot');
  src: url('../fonts/Andante.eot?#iefix') format('embedded-opentype'), url('../fonts/Andante.woff') format('woff'), url('../fonts/Andante.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmazingGrotesk';
  src: url('../fonts/AmazingGrotesk.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk.woff') format('woff'), url('../fonts/AmazingGrotesk.ttf') format('truetype'), url('../fonts/AmazingGrotesk.svg#AmazingGrotesk') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmazingGrotesk-DemiBold';
  src: url('../fonts/AmazingGrotesk-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-DemiBold.woff') format('woff'), url('../fonts/AmazingGrotesk-DemiBold.ttf') format('truetype'), url('../fonts/AmazingGrotesk-DemiBold.svg#AmazingGrotesk-DemiBold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AmazingGrotesk-DemiBoldItalic';
  src: url('../fonts/AmazingGrotesk-DemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-DemiBoldItalic.woff') format('woff'), url('../fonts/AmazingGrotesk-DemiBoldItalic.ttf') format('truetype'), url('../fonts/AmazingGrotesk-DemiBoldItalic.svg#AmazingGrotesk-DemiBoldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'AmazingGrotesk-Italic';
  src: url('../fonts/AmazingGrotesk-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-Italic.woff') format('woff'), url('../fonts/AmazingGrotesk-Italic.ttf') format('truetype'), url('../fonts/AmazingGrotesk-Italic.svg#AmazingGrotesk-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'AmazingGrotesk-LightItalic';
  src: url('../fonts/AmazingGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-LightItalic.woff') format('woff'), url('../fonts/AmazingGrotesk-LightItalic.ttf') format('truetype'), url('../fonts/AmazingGrotesk-LightItalic.svg#AmazingGrotesk-LightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'AmazingGrotesk-Ultra';
  src: url('../fonts/AmazingGrotesk-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-Ultra.woff') format('woff'), url('../fonts/AmazingGrotesk-Ultra.ttf') format('truetype'), url('../fonts/AmazingGrotesk-Ultra.svg#AmazingGrotesk-Ultra') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'AmazingGrotesk-UltraItalic';
  src: url('../fonts/AmazingGrotesk-UltraItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AmazingGrotesk-UltraItalic.woff') format('woff'), url('../fonts/AmazingGrotesk-UltraItalic.ttf') format('truetype'), url('../fonts/AmazingGrotesk-UltraItalic.svg#AmazingGrotesk-UltraItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?svd1mz');
  src: url('../fonts/icomoon.eot?svd1mz#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?svd1mz') format('truetype'), url('../fonts/icomoon.woff?svd1mz') format('woff'), url('../fonts/icomoon.svg?svd1mz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-email:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
}
.icon-in:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-place:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
h1,
.h1 {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 65px;
  color: #fff;
  letter-spacing: 1.1px;
}
h2,
.h2 {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 40px;
  color: #282828;
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-weight: 500;
}
h3,
.h3 {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 28px;
  color: #282828;
  text-transform: uppercase;
  position: relative;
}
.title-line:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 23px;
  background-color: #e2ce17;
  margin-right: 16px;
}
.highlighted-text {
  color: #e2ce17;
}
@media (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 50px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 18px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
}
.btn {
  font-size: 12px;
  padding: 11px 19px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  letter-spacing: 0.9px;
}
.btn__highlighted {
  background-color: #e2ce17;
  color: #000;
}
.btn__highlighted:hover {
  color: #fff;
}
.btn__highlighted:active {
  color: #e2ce17;
  background-color: #fff;
  border: 1px solid #e2ce17;
}
.btn__invert {
  background-color: #fff;
  border: 1px solid #e2ce17;
  color: #282828;
}
.btn__invert:hover {
  color: #e2ce17;
}
.btn__invert:active {
  background-color: #e2ce17;
  color: #fff;
}
.btn__simple {
  font-size: 14px;
  color: #e2ce17;
}
.btn__simple:hover,
.btn__simple:active {
  color: #000;
}
.main-page__main-section {
  position: relative;
}
.main-page__main-section:before {
  content: '';
  display: block;
  background: url("images/main_bg_logo.png") no-repeat top center;
  -webkit-background-size: 90% auto;
  background-size: 90% auto;
  height: auto;
  position: absolute;
  top: -9%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: auto;
}
.separator span {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 60px;
}
.separator span:before {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  top: 0;
  left: 50%;
  content: '';
  margin-top: 15px;
}
.separator span:after {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  bottom: 0;
  right: 50%;
  content: '';
  margin-bottom: 8px;
}
.separator__yellow span {
  background-color: #e2ce17;
}
.separator__yellow span:before {
  background-color: #e2ce17;
}
.separator__yellow span:after {
  background-color: #e2ce17;
}
.separator__white span {
  background-color: #fff;
}
.separator__white span:before {
  background-color: #fff;
}
.separator__white span:after {
  background-color: #fff;
}
input:focus,
input:active {
  border: 1px solid #e2ce17;
}
.map {
  width: 100%;
  height: 525px;
  margin-top: 53px;
}
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%), url("images/header_bg.png");
  -webkit-background-size: cover, cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top, top center;
  min-height: 680px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header__logo {
  display: inline-flex;
  background: url("images/logo.png") no-repeat center;
  width: 162px;
  height: 143px;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 36px 0 0 12px;
  justify-self: flex-start;
}
.header__nav {
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
}
.header__list {
  margin: 64px 6px 0 0;
  padding-left: 0;
}
.header__list-item {
  display: inline-block;
  list-style: none;
  margin-right: 33px;
}
.header__list-link,
.header__contact,
.header__search {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__list-link:hover,
.header__contact:hover,
.header__search:hover {
  color: #e2ce17;
}
.header__list-link:hover .header__icon,
.header__contact:hover .header__icon,
.header__search:hover .header__icon {
  color: #e2ce17;
}
.header__icon {
  color: #fff;
  margin-top: 6px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__contact {
  margin: 64px 37px 0 0;
}
.header__contact .header__icon {
  font-size: 12px;
  margin-right: 13px;
}
.header__search {
  margin: 60px 0 0 0;
}
.header__search .header__icon {
  font-size: 16px;
  margin-right: 0;
}
.header__title {
  margin: 75px 0 8px -4px;
}
.header__subtitle {
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 34px;
}
.header__btn {
  margin-top: 38px;
  padding: 11px 19px;
}
#btn__mob {
  display: none;
}
.visible-sm {
  display: none;
}
@media (max-width: 1024px) {
  .header {
    min-height: 489px;
  }
  .header__logo {
    margin: 30px 0 0 0;
    width: 134px;
    height: 104px;
  }
  .header__contact {
    margin: 66px 6px 0 0;
    position: absolute;
    top: -32px;
    right: 97px;
    font-size: 12px;
  }
  .header__contact .header__icon {
    margin-right: 11px;
    margin-top: 1px;
  }
  .header__list {
    margin: 67px 6px 0 0;
  }
  .header__list-item {
    margin-right: 18px;
  }
  .header__list-link {
    font-size: 12px;
  }
  .header__search .header__icon {
    margin-top: 9px;
  }
  .header__title {
    margin: 59px 0 5px -4px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 1.3;
  }
  .header__btn {
    margin-top: 17px;
    padding: 11px 21px;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: 488px;
    background-size: cover, cover;
    background-position: top, 75% 67%;
  }
  #btn__mob {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 14px;
    align-self: center;
    z-index: 10;
  }
  #btn__mob span {
    display: inline-flex;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  #btn__mob:hover span {
    background-color: #e2ce17;
  }
  #btn__mob.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #btn__mob.active span:nth-child(2) {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  #btn__mob.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -15px;
  }
  .header__nav,
  .header__contact,
  .header__search {
    display: none;
  }
  .header__nav.active {
    display: flex;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 31px 0;
  }
  .header__contact.visible-sm,
  .header__search.visible-sm {
    display: flex;
    position: relative;
  }
  .header__logo {
    margin: 15px 0 0 -18px;
    width: 109px;
    height: 71px;
  }
  .header__list {
    width: 100%;
    margin: 0;
  }
  .header__list-item {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .header__list-item .visible-sm {
    display: flex;
    margin-bottom: 5px;
  }
  .header__list-item .visible-sm:last-of-type {
    margin-bottom: 0;
  }
  .header__list-item:hover {
    background-color: #282828;
  }
  .header__list-item:hover a {
    color: #e2ce17;
  }
  .header__list-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
  .header__list-contact .header__icon {
    margin-right: 5px;
  }
  .header__list-contact:hover a,
  .header__list-contact:hover .header__icon {
    color: #e2ce17;
  }
  .header___list-search a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
  .header___list-search:hover a,
  .header___list-search:hover .header__icon {
    color: #e2ce17;
  }
  .header__title {
    margin: 82px 0 5px -4px;
    letter-spacing: 0.9px;
  }
  .header__subtitle {
    font-size: 12px;
    margin-top: 7px;
    letter-spacing: 0.2px;
    margin-left: -2px;
    white-space: pre-line;
  }
  .header__btn {
    margin-top: 43px;
    padding: 11px 21px;
    justify-content: center;
  }
}
.company-details {
  position: relative;
}
.company-details__heading {
  margin-top: 78px;
}
.company__stats {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.company__stats-number {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 58px;
  letter-spacing: 4px;
  display: inline-block;
  padding: 28px 15px;
  position: relative;
}
.company__stats-number:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 26px;
  height: 88px;
  border: 1px solid #e2ce17;
  border-right: 1px solid transparent;
}
.company__stats-number:after {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 26px;
  height: 88px;
  border: 1px solid #e2ce17;
  border-left: 1px solid transparent;
}
.company__stats-number1 {
  padding: 26px 33px;
}
.company__stats-number2 {
  padding: 26px 17px;
}
.company__stats-number3 {
  padding: 26px 18px;
}
.company__stats-number4 {
  padding: 26px 17px;
}
.company__stats-info {
  font-size: 21px;
  display: block;
  margin-top: 20px;
  letter-spacing: 0.4px;
  line-height: 1.3;
}
.services {
  padding-top: 62px;
  padding-bottom: 12px;
}
.services .separator {
  margin-top: 70px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 38px;
}
.services__item {
  flex: 0 1 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 68px;
}
.services__item-text {
  border: 2px solid #dad7d7;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 21px 5px 25px 5px;
}
.services__item-img {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.services__item-img img {
  width: 100%;
  height: 100%;
}
.services__item-title {
  font-size: 16px;
  letter-spacing: 0.3px;
  text-align: center;
  position: relative;
  line-height: 1.3;
}
.services__item-title:after {
  display: block;
  content: '';
  background-color: #dad7d7;
  width: 70px;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.services__item-content {
  font-size: 12px;
  text-align: center;
  white-space: pre-line;
  margin-top: 7px;
  letter-spacing: 0.2px;
  overflow: hidden;
}
.services__item-details {
  align-self: center;
  padding: 10px 68px;
  margin-top: 23px;
}
.btn__services-load {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 67px;
}
@media (max-width: 1024px) {
  .main-page__main-section:before {
    top: -4%;
  }
  .company-details__heading {
    margin-top: 40px;
  }
  .company__stats {
    margin-top: 38px;
  }
  .company__stats-item:nth-of-type(1) {
    margin-right: 36px;
  }
  .company__stats-number {
    font-size: 36px;
  }
  .company__stats-number:before {
    width: 20px;
    height: 63px;
  }
  .company__stats-number:after {
    width: 20px;
    height: 63px;
  }
  .company__stats-number1 {
    padding: 14px 24px;
  }
  .company__stats-number2 {
    padding: 14px 11px;
  }
  .company__stats-number3 {
    padding: 14px 12px;
  }
  .company__stats-number4 {
    padding: 14px 12px;
  }
  .company__stats-info {
    font-size: 14px;
    margin-top: 13px;
    line-height: 1.2;
  }
  .services .separator {
    margin-top: 52px;
  }
  .services__list {
    justify-content: flex-end;
  }
  .services__item {
    flex: 0 1 78%;
    display: inline-flex;
    margin-bottom: 12px;
  }
  .services__item1 {
    order: 0;
    justify-content: flex-start;
    margin-right: auto;
  }
  .services__item2 {
    order: 2;
    justify-content: flex-start;
    margin-right: auto;
  }
  .services__item3 {
    order: 1;
  }
  .services__item4 {
    order: 4;
  }
  .btn__services-load {
    order: 5;
    margin-top: 27px;
  }
}
@media (max-width: 768px) {
  .main-page__main-section:before {
    top: -4%;
  }
  .company-details__heading {
    margin-top: 33px;
    line-height: 1.3;
  }
  .company__stats {
    margin-top: 25px;
  }
  .company__stats-item {
    width: 50%;
    margin-bottom: 28px;
  }
  .company__stats-item:nth-of-type(1) {
    margin-right: 0;
  }
  .company__stats-number {
    font-size: 36px;
  }
  .company__stats-number:before {
    width: 20px;
    height: 63px;
  }
  .company__stats-number:after {
    width: 20px;
    height: 63px;
  }
  .company__stats-number1 {
    padding: 14px 24px;
  }
  .company__stats-number2 {
    padding: 14px 11px;
  }
  .company__stats-number3 {
    padding: 14px 12px;
  }
  .company__stats-number4 {
    padding: 14px 12px;
  }
  .company__stats-info {
    font-size: 12px;
    margin-top: 3px;
    line-height: 1.5;
  }
  .services {
    padding-top: 0;
    padding-bottom: 12px;
    margin-top: -19px;
  }
  .services .separator {
    margin-top: 52px;
  }
  .services__list {
    justify-content: flex-end;
  }
  .services__item {
    flex: 1 1 100%;
    display: inline-flex;
    margin-bottom: 12px;
  }
  .services__item1 {
    order: 0;
    justify-content: flex-start;
    margin-right: auto;
  }
  .services__item2 {
    order: 2;
    justify-content: flex-start;
    margin-right: auto;
  }
  .services__item3 {
    order: 1;
  }
  .services__item4 {
    order: 4;
  }
  .services__item-img {
    display: none;
  }
  .services__item-text {
    width: 100%;
  }
  .btn__services-load {
    order: 5;
    margin-top: 27px;
  }
}
.reviews__wrapper .h2 {
  line-height: 1.5;
  margin-top: 15px;
  white-space: pre-line;
}
.reviews__wrapper .h3 {
  margin-top: 55px;
}
.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.review__detailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 1 60%;
}
.review__img-big {
  width: 175px;
  height: 175px;
  margin-right: 77px;
  position: relative;
}
.review__img-big:after {
  content: '';
  display: block;
  width: 99%;
  height: 98%;
  border: 2px solid #e2ce17;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.review__img-big img {
  width: 100%;
  height: 100%;
}
.review__client-info {
  flex: 0 1 50%;
  width: 0%;
  height: 100%;
}
.cl__client-name {
  display: block;
  font-size: 21px;
  letter-spacing: 1px;
  font-family: 'AmazingGrotesk', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #282828;
  margin-top: -6px;
}
.cl__client-profession {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #282828;
  margin-top: 5px;
  letter-spacing: 1px;
  white-space: pre-line;
}
.review__content {
  font-size: 14px;
  margin-top: 25px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}
.cl__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 14px;
}
.cl__img-small {
  display: inline-flex;
  width: 55px;
  height: 50px;
  position: relative;
  margin-right: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cl__img-small:after {
  content: '';
  display: block;
  width: 98%;
  height: 96%;
  border: 2px solid #e2ce17;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .reviews__wrapper .h2 {
    line-height: 1.4;
    margin-top: 10px;
    white-space: normal;
  }
  .reviews__wrapper .h3 {
    margin-top: 31px;
  }
  .reviews {
    margin-top: 38px;
  }
  .review__img-big {
    width: 136px;
    height: 136px;
    margin-right: 53px;
  }
  .cl__client-name {
    font-size: 18px;
    letter-spacing: 0.1px;
  }
  .cl__client-profession {
    font-size: 12px;
    margin-top: 0;
  }
  .review__content {
    font-size: 12px;
    margin-top: 15px;
    letter-spacing: 0.7px;
    line-height: 1.5;
  }
  .review__img-big:after {
    width: 98%;
    height: 98%;
  }
  .cl__img-small {
    width: 44px;
  }
  .cl__img-small:after {
    width: 96%;
    height: 96%;
  }
}
@media (max-width: 768px) {
  .reviews__wrapper .h2 {
    line-height: 1.4;
    margin-top: 10px;
    white-space: normal;
  }
  .reviews__wrapper .h3 {
    margin-top: 31px;
  }
  .reviews {
    margin-top: 38px;
    flex-direction: column;
  }
  .review__detailed {
    flex: 1 1 100%;
    flex-direction: column;
  }
  .review__img-big {
    width: 136px;
    height: 136px;
    margin-right: 53px;
  }
  .review__client-info {
    width: 100%;
  }
  .cl__client-name {
    font-size: 18px;
    letter-spacing: 0.1px;
  }
  .cl__client-profession {
    font-size: 12px;
    margin-top: 0;
  }
  .review__content {
    font-size: 12px;
    margin-top: 15px;
    letter-spacing: 0.7px;
    line-height: 1.5;
  }
  .review__img-big:after {
    width: 98%;
    height: 98%;
  }
  .cl__img-small {
    width: 44px;
  }
  .cl__img-small:after {
    width: 96%;
    height: 96%;
  }
}
.contacts__wrapper {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.contacts__list {
  margin-top: 50px;
  padding-left: 19px;
}
.contacts__list-item {
  list-style: none;
  margin-bottom: 17px;
  display: block;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.contacts__list-link {
  text-decoration: none;
  color: #282828;
}
.contacts__icon {
  font-size: 20px;
  color: #282828;
  margin-right: 13px;
  vertical-align: middle;
}
.contacts__icon.icon-place {
  font-size: 24px;
  margin-right: 9px;
}
.contact__list-phone2 {
  display: block;
  margin-left: 40px;
}
.contact-form__wrapper {
  padding-right: 71px;
  margin-top: 4px;
}
.contact__form {
  margin-top: 41px;
  width: 94%;
  margin-left: auto;
}
.contact__form-input {
  display: block;
  width: 100%;
  font-size: 12px;
  border: 1px solid #8d8d8d;
  margin-bottom: 26px;
  padding: 7px 13px;
  border-collapse: collapse;
  outline: 0;
}
.contact__form-input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-input:-ms-input-placeholder {
  color: #000;
}
.contact__form-input::-webkit-input-placeholder {
  color: #000;
}
.contact__form-message {
  resize: horizontal;
  margin-bottom: 20px;
}
.contact__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.contact__form-btn {
  padding: 11px 45px;
  margin-right: 14px;
  display: inline-flex;
}
.contact__form-info {
  white-space: pre-line;
  display: inline-flex;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  position: absolute;
}
@media (max-width: 1024px) {
  .contacts__wrapper {
    margin-top: 40px;
  }
  .contacts-details .h3 {
    font-size: 24px;
  }
  .contact-form__wrapper {
    padding-right: 0;
  }
  .contact-form__wrapper .h3 {
    font-size: 24px;
    white-space: nowrap;
  }
  .contacts__list {
    margin-top: 0;
  }
  .contacts__list-item {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 14px;
  }
  .contacts__icon {
    margin-right: 8px;
    font-size: 20px;
  }
  .contacts__icon.icon-place {
    font-size: 23px;
    margin-right: 4px;
  }
  .contact__list-phone2 {
    margin-left: 35px;
  }
  .contact__form {
    margin-top: 27px;
  }
  .contact__form-btn {
    margin-right: 27px;
  }
  .contact__form-info {
    font-size: 10px;
    line-height: 1.6;
  }
}
@media (max-width: 768px) {
  .contacts__wrapper {
    margin-top: 40px;
  }
  .contacts-details .h3 {
    font-size: 24px;
  }
  .contact-form__wrapper {
    display: none;
  }
  .contacts__list {
    margin-top: 0;
  }
  .contacts__list-item {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 14px;
  }
  .contacts__icon {
    margin-right: 8px;
    font-size: 20px;
  }
  .contacts__icon.icon-place {
    font-size: 23px;
    margin-right: 4px;
  }
  .contact__list-phone2 {
    margin-left: 35px;
  }
  .contact__form {
    margin-top: 27px;
  }
  .contact__form-btn {
    margin-right: 27px;
  }
  .contact__form-info {
    font-size: 10px;
    line-height: 1.6;
  }
}
.map {
  width: 100%;
  height: 525px;
  margin-top: 53px;
}
@media (max-width: 1024px) {
  .map {
    height: 314px;
    margin-top: 41px;
  }
}
.seo__content {
  padding-top: 69px;
  padding-bottom: 126px;
}
.seo__content-title {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 0.4px;
}
.seo__content-text {
  font-size: 12px;
  text-align: justify;
  white-space: pre-line;
  margin-top: 17px;
  letter-spacing: 0.2px;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .seo__content {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .seo__content-title {
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-left: -3px;
  }
  .seo__content-text {
    font-size: 10px;
    margin-top: 3px;
    letter-spacing: 0.1px;
  }
}
.footer {
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 40px;
  background-color: #282828;
}
.footer .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
}
.footer-logo__name {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.7px;
  color: #fff;
  display: inline-flex;
}
.footer-logo__company {
  font-size: 12px;
  text-transform: lowercase;
  display: inline-flex;
  color: #fff;
  margin-top: -3px;
  letter-spacing: 0.3px;
}
.footer-logo__about {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 8px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  margin-top: 19px;
  margin-left: -2px;
  white-space: pre-line;
}
.footer-nav__list {
  padding-left: 0;
  padding-top: 17px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex: 0 1 70%;
  justify-content: flex-end;
}
.footer-nav__list-item {
  margin-left: 41px;
}
.footer-nav__list-link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer-nav__list-link:hover {
  color: #e2ce17;
}
.footer__copyright {
  color: #fff;
  font-size: 8px;
  letter-spacing: 0.4px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
  margin-top: 21px;
  width: 100%;
}
.footer__copyright:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 7px;
}
@media (max-width: 1280px) {
  .footer-nav__list-item {
    margin-left: 35px;
  }
}
@media (max-width: 1024px) {
  .footer {
    justify-content: space-between;
    padding-top: 16px;
  }
  .footer-logo__name {
    font-size: 18px;
    letter-spacing: 0.7px;
  }
  .footer-logo__company {
    font-size: 7px;
    margin-top: -1px;
  }
  .footer-logo__about {
    font-size: 8px;
    margin-top: 11px;
  }
  .footer-nav__list {
    padding-top: 4px;
    flex-basis: auto;
    margin-left: auto;
  }
  .footer-nav__list-item {
    margin-left: 16px;
  }
  .footer-nav__list-link {
    font-size: 10px;
    letter-spacing: 0.1px;
  }
}
@media (max-width: 768px) {
  .footer {
    justify-content: space-between;
    padding-top: 16px;
  }
  .footer-logo__name {
    font-size: 18px;
    letter-spacing: 0.7px;
  }
  .footer-logo__company {
    font-size: 7px;
    margin-top: -1px;
  }
  .footer-logo__about {
    font-size: 8px;
    white-space: normal;
    margin-top: 11px;
  }
  .footer-nav__list {
    padding-top: 4px;
    flex-direction: column;
  }
  .footer-nav__list-item {
    margin-left: 16px;
  }
  .footer-nav__list-link {
    font-size: 10px;
    letter-spacing: 0.1px;
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.modal__search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  padding: 40px 25px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.modal__search-wrapper.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.modal__search {
  position: relative;
  display: flex;
  width: 70%;
}
#modal__search-input {
  width: 100%;
  outline: 0;
  border: 2px solid #e2ce17;
  display: flex;
  background-color: transparent;
  color: #fff;
  padding: 30px 20px;
}
#modal__search-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#modal__search-input:-ms-input-placeholder {
  color: #fff;
}
#modal__search-input::-webkit-input-placeholder {
  color: #fff;
}
#modal__search-input:focus ~ .modal__search-icon {
  display: none;
}
.modal__search-icon {
  position: absolute;
  right: 20px;
  font-size: 16px;
  color: #fff;
  align-self: center;
}
.modal__search-close {
  position: absolute;
  top: 46px;
  right: 30px;
  width: 30px;
  height: 30px;
}
.modal__search-close span {
  display: flex;
  height: 2px;
  width: 30px;
  margin-bottom: 5px;
  background-color: #fff;
}
.modal__search-close span:first-of-type {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__search-close span:last-of-type {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -8px;
}
@media (max-width: 768px) {
  .modal__search {
    width: 90%;
  }
  #modal__search-input {
    padding: 10px;
  }
  .modal__search-icon {
    right: 10px;
  }
}
.search-results_wrapper {
  padding-top: 75px;
  padding-bottom: 63px;
}
.search-results__heading {
  font-size: 36px;
  font-weight: bold;
  color: #e2ce17;
  font-family: 'AmazingGrotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
.search__content {
  font-size: 21px;
  font-family: 'AmazingGrotesk', sans-serif;
  font-weight: bold;
  color: #b2b2b2;
  text-transform: lowercase;
  letter-spacing: 0.5px;
}
.search-results__list {
  margin-top: 89px;
}
.search-result__item {
  margin-bottom: 42px;
  position: relative;
}
.search-result__item:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #dad7d7;
  margin-top: 19px;
}
.sr__item-heading {
  font-size: 21px;
  font-family: 'AmazingGrotesk', sans-serif;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.sr__item-content {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.4px;
  line-height: 1.3;
  margin-top: 15px;
}
.sr__item-link {
  padding: 0;
  margin-top: 23px;
}
.header__service {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%), url("images/header_search-bg.png");
  -webkit-background-size: cover, cover;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top, top center;
}
.header__service .header__subtitle {
  white-space: pre-line;
}
.service-main {
  padding-top: 49px;
}
.service-main__heading {
  white-space: pre-line;
}
.service-main__info {
  font-size: 14px;
  color: #000;
  margin-top: -5px;
  letter-spacing: 0.2px;
  line-height: 1.8;
  white-space: pre-line;
}
.order {
  padding-top: 45px;
}
.order .h3 {
  letter-spacing: -0.4px;
}
.order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -7px;
}
.order-item {
  flex: 0 1 23%;
  margin-bottom: 17px;
}
.order-item__count {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 44px;
  font-weight: 600;
  color: #e2ce17;
}
.order-item__content {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.7;
  margin-top: 1px;
}
.docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 29px;
}
.docs .h3 {
  flex: 0 1 100%;
  letter-spacing: -0.4px;
}
.docs-list {
  padding-left: 0;
  flex: 0 1 50%;
  margin-top: 5px;
}
.docs-list__item {
  font-size: 14px;
  list-style: none;
  white-space: pre-line;
  position: relative;
  padding-left: 15px;
  letter-spacing: 0.3px;
  line-height: 1.8;
  margin-bottom: 12px;
}
.docs-list__bullet {
  display: inline-flex;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
.docs-list__bullet:after {
  content: "\25AA";
  color: #e2ce17;
  display: inline-block;
  width: 5px;
  margin-right: 10px;
}
.service-separate__heading {
  margin-top: 64px;
}
.prices__wrapper {
  padding-top: 25px;
}
.prices-list {
  margin-top: 41px;
}
.prices-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 12px;
  width: 98%;
}
.prices-content {
  flex: 1;
  flex-basis: 52%;
  padding: 35px 40px 47px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #ebebeb;
}
.prices-content__title {
  font-size: 21px;
}
.prices-content__text {
  font-size: 14px;
  margin-top: 13px;
  letter-spacing: 0.2px;
  line-height: 1.3;
}
.prices-nubmber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  flex-basis: 45%;
}
.prices__service-list {
  flex: 1;
  flex-basis: 50%;
  height: 100%;
  background-color: #e1e1e1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 20px;
}
.prices__service-item {
  position: relative;
  padding-left: 15px;
  list-style: none;
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 6px;
  letter-spacing: 0.2px;
}
.prices-offer {
  flex: 1;
  flex-basis: 50%;
  background-color: #1f2533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 0;
}
.prices-offer__value {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  margin-top: 3px;
  color: #e2ce17;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'AmazingGrotesk', sans-serif;
}
.prices-offer__value .number-value {
  font-size: 36px;
  margin-left: 12px;
  margin-right: 12px;
}
.prices-offer__content {
  font-size: 14px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 1.3;
  margin-top: 28px;
}
.prices-list__item2 .prices-offer__content {
  margin-top: 10px;
}
.prices-list__item2 .prices-offer__link {
  margin-top: 2px;
}
.prices-list__item3 .prices-offer {
  padding: 31px 0;
}
.prices-offer__link {
  margin-top: 36px;
  padding: 11px 50px;
}
.articles {
  padding-top: 54px;
}
.articles .h3 {
  letter-spacing: -0.4px;
}
.articles-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 34px;
}
.article-list__item {
  flex: 1;
  flex-basis: 25%;
}
.article-list__img {
  background-color: #808080;
  border: 1px solid #dad7d7;
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.article-list__date {
  font-size: 9px;
  letter-spacing: 0.2px;
  margin-bottom: 7px;
}
.article-list__content {
  overflow: hidden;
}
.article-list__content a {
  text-decoration: none;
  color: #282828;
  white-space: pre-line;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.contacts__wrapper.service-page {
  margin-top: 69px;
  padding-bottom: 60px;
}
@media (max-width: 1280px) {
  .prices-offer {
    padding: 10px;
  }
  .prices-list__item3 .prices-offer {
    padding: 10px;
  }
  .articles-list {
    justify-content: space-between;
  }
  .article-list__item {
    flex: 0 1 24%;
  }
}
@media (max-width: 1024px) {
  .service-main__info {
    font-size: 12px;
    white-space: normal;
  }
  .order-list {
    justify-content: flex-start;
  }
  .order-item {
    flex: 0 1 30%;
    margin-right: 20px;
  }
  .docs-list {
    flex: 0 1 100%;
    margin-bottom: 0;
  }
  .service-main__heading {
    font-size: 30px;
  }
  .prices-list__item {
    flex-wrap: wrap;
  }
  .prices-nubmber {
    flex-basis: 100%;
  }
  .article-list__item {
    flex: 0 1 30%;
  }
  .article-list__item:last-of-type {
    display: none;
  }
}
@media (max-width: 768px) {
  .order-item {
    flex: 0 1 100%;
    margin-right: 20px;
  }
  .docs-list {
    flex: 0 1 100%;
    margin-bottom: 0;
  }
  .service-main__heading {
    font-size: 18px;
  }
  .prices-nubmber {
    flex-basis: 100%;
  }
  .prices__service-list {
    display: none;
  }
  .prices-offer {
    flex-basis: 100%;
  }
  .articles-list {
    flex-wrap: wrap;
  }
  .article-list__item {
    flex: 0 1 100%;
    margin-bottom: 30px;
  }
  .article-list__item:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
.main.services-page {
  padding-top: 50px;
}
.services-page__paragraph {
  font-size: 14px;
  color: #000000;
  margin-bottom: 55px;
}
.services.services-page {
  padding-top: 0;
}
.services.services-page .services__item {
  flex: 0 1 100%;
}
.services.services-page .services__item:last-of-type {
  margin-bottom: 30px;
}
.services.services-page .services__item-text {
  width: 70%;
  padding: 21px 15px;
}
.services.services-page .services__item-img {
  width: 30%;
}
.services.services-page .services__item-title {
  text-align: left;
}
.services.services-page .services__item-title:after {
  margin-left: 0;
}
.services.services-page .services__item-content {
  text-align: left;
}
.services.services-page .services__item-details {
  align-self: flex-start;
}
@media (max-width: 1024px) {
  .services-page__paragraph {
    font-size: 12px;
  }
  .services.services-page .services__item-title {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .services.services-page .services__item-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .services.services-page .services__item-content {
    font-size: 10px;
    white-space: normal;
  }
}
@media (max-width: 768px) {
  .services.services-page .services__item {
    justify-content: center;
  }
  .services.services-page .services__item-title {
    text-align: center;
    font-size: 12px;
  }
  .services.services-page .services__item-title:after {
    margin-left: auto;
  }
  .services.services-page .services__item-text {
    width: 100%;
    text-align: center;
  }
}
.about-us__page.main {
  padding-top: 63px;
}
.about-us__page.header__subtitle {
  white-space: pre-line;
}
.company-info .h2 {
  white-space: pre-line;
  color: #e2ce17;
  margin-bottom: 0;
}
.company-info .h2:last-of-type {
  margin-top: -26px;
}
.company-info__content {
  font-size: 14px;
  color: #000;
  margin-top: 27px;
  letter-spacing: 0.1px;
  line-height: 1.9;
}
.company-info__list {
  padding-left: 75px;
  padding-top: 49px;
}
.company-info__list-item {
  list-style: none;
  font-size: 14px;
  color: #000;
  position: relative;
  padding-left: 25px;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}
.company-info__list-item .docs-list__bullet {
  bottom: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.company-info__list-item .docs-list__bullet:after {
  font-size: 21px;
}
.company-info__details {
  margin-top: 119px;
}
.company-info__details .h3 {
  letter-spacing: -0.4px;
}
.company-info__details .company-info__content {
  margin-top: 32px;
}
.company-info__details1 {
  margin-top: 87px;
}
.company-team .h2 {
  color: #e2ce17;
}
.company-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 90px;
}
.company-team__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}
.company-team__img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 13px;
}
.company-team__img img {
  max-height: 100%;
  max-width: 100%;
}
.company-team__name {
  font-family: 'AmazingGrotesk', sans-serif;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 3px;
  letter-spacing: 1px;
}
.company-team__content {
  font-size: 14px;
  white-space: pre-line;
  margin-left: -3px;
  letter-spacing: 1px;
}
@media (max-width: 1024px) {
  .company-team__list {
    flex-flow: wrap;
    margin-bottom: 0;
  }
  .company-team__list-item {
    flex-flow: row;
    flex: 1 100%;
    padding-left: 20px;
    margin-bottom: 65px;
  }
  .company-team__img {
    flex: 0 25%;
    width: 125px;
    height: 125px;
  }
  .company-team__info {
    flex: 1 65%;
    padding-left: 20px;
  }
  .company-team__name {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .company-team__content {
    white-space: normal;
    text-align: justify;
    font-size: 12px;
  }
  .company-info__details {
    margin-top: 50px;
  }
  .company-info__content {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .company-team__list {
    flex-flow: column;
  }
  .company-team__list-item {
    flex-flow: column;
    align-items: center;
    padding-left: 0;
  }
  .company-team__img {
    flex: 1 100%;
    width: 125px;
    height: 125px;
    text-align: center;
  }
  .company-team__info {
    flex: 1 100%;
    padding: 0;
  }
  .company-team__name {
    margin-bottom: 20px;
    text-align: center;
  }
  .company-team__content {
    white-space: normal;
    text-align: justify;
  }
}
