.pull-left {float: left;}
.pull-right {float: right;}

.flex-end{
  justify-content: flex-end;
}
.flex-start{
  justify-content: flex-start;
}

.hidden {display: none;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.text-uppercase {text-transform: uppercase;}


.main-container {
  .center();
  max-width: 1088px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid green;
}

