h1, .h1{
  font-family: @headingFont;
  font-size: 65px;
  color: #fff;
  letter-spacing: 0.8px;
}

h2,.h2{
  font-family: @headingFont;
  font-size: 40px;
  color: @textColor;
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-weight: 500;
}

h3,.h3{
  font-family: @headingFont;
  font-size: 28px;
  color: @textColor;
  text-transform: uppercase;
  position: relative;
}

.title-line{
  &:before{
    display: inline-block;
    content: "";
    width: 5px;
    height: 23px;
    background-color: @yellowColor;
    margin-right: 16px;
  }
}